body,
html { overflow: hidden }
body { background: url(img/wood.png) }
#main{
margin-top: 20px;
position:relative;
left:0px;
padding:0px;
margin:0px;
}
#main br{
height:0px;
}
#main a {
width: 100%;
position:relative;
left:0px;
padding-top: 12px;
padding-bottom: 12px;
padding-right:0px;
padding-left:0px;
display:block;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.62) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.62)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9effffff', endColorstr='#00ffffff',GradientType=0 );
  font-size: 21px;
  text-transform: uppercase;
  font-family: 'Ropa Sans',Verdana,Arial;
}


summary {
padding-top: 12px;
padding-bottom: 12px;
padding-right:0px;
padding-left:0px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.62) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.62)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9effffff', endColorstr='#00ffffff',GradientType=0 );

    font-size: 26px;
    font-family: 'Ropa Sans',Verdana,Arial;
    text-transform: uppercase;
    cursor: pointer;
    cursor: hand;
}
details {
    cursor: pointer;
    cursor: hand;
}
#container {
    width: 400px;
    height: 0;
    padding:0px;
    overflow-y: scroll;
    overflow-x: auto;
}
#receiver {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 0;
}
.tweet_button {
    width: 55px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    background: url(img/tweet.png) black no-repeat;
}
.fork_button {
    width: 55px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    background: url(img/fork.png) black no-repeat;
}
.fl {
    position: fixed;
    right: 25px;
    top: 4px;
}

header {
    text-align: center;
    margin-top: 14px;
}
.o-o {
    visibility: hidden;
    display: none;
}
.cc { background: transparent!important }

